/* Estilos generales */
body {
    background-color: #fff;
    position: relative;
}

/* Tema oscuro */
body.dark-theme {
    background-color: #000000;
    color: rgb(251, 251, 251);
}

/* Elementos de la tabla en modo oscuro */
body.dark-theme table {
    width: 80%;
    border-collapse: collapse;
    font-size: 10px;
    background-color: #333; /* Fondo oscuro para la tabla */
}

body.dark-theme th {
    background-color: #28920eb5; /* Fondo para celdas de encabezado */
    color: white;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}

body.dark-theme tr:nth-child(even) {
    background-color: #444; /* Fondo para filas pares */
}

body.dark-theme tr:nth-child(odd) {
    background-color: #333; /* Fondo para filas impares */
}

body.dark-theme #tablaListaReproduccion tr:hover {
    background-color: #555; /* Fondo cuando se pasa el mouse */
}

body.dark-theme td {
    padding: 5px;
    text-align: left;
    border-radius: 5px;
    border: 1px solid #444; /* Borde para celdas en modo oscuro */
    color: white; /* Texto en celdas en modo oscuro */
}

/* Estilos para elementos seleccionados en modo oscuro */
body.dark-theme .seleccionado {
    background-color: rgba(255, 153, 0, 0.513) !important;
    color: #000;
}

body.dark-theme .seleccionado button {
    color: #000; /* Texto en botón seleccionado en modo oscuro */
    cursor: not-allowed;
}

/* Estilos para el modo oscuro */
body.dark-theme .seleccionada {
    background-color: rgba(0, 255, 4, 0.234) !important; /* Cambia el fondo a un color oscuro */
    color: white; /* Cambia el color del texto a blanco */
}

body.dark-theme .seleccionada button {
    color: rgba(9, 126, 17, 0.778); /* Cambia el color del texto de los botones a un tono más claro */
    cursor: not-allowed;
}

/* Contenido principal */
.contenido {
    display: grid;
    grid-template-columns: 75% 25%;
    height: calc(77vh); /* Altura relativa al 77% de la altura de la ventana */
    /* background-color: #d4ff00; */
    flex: 1; /* Ocupa todo el espacio vertical restante */
}

/* Lista de reproducción */
#listaDeReproduccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-height: 90%; /* Altura máxima del 90% de la ventana */
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: gray lightgray;
}

/* Elementos de la tabla */
table {
    width: 80%;
    border-collapse: collapse;
    font-size: 10px;
}

th {
    background-color: rgb(29, 14, 146);
    color: white;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

#tablaListaReproduccion tr:hover {
    background-color: yellow;
}

td {
    padding: 5px;
    text-align: left;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.seleccionada {
    background-color: lime !important;
}

.seleccionada button {
    color: rgba(9, 126, 17, 0.778);
    cursor: not-allowed;
}

/* Controles de reproducción */
.controlesReproduccion {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px;
    font-size: 10px;
}

/* Aplica un ancho máximo para la tabla y centra su contenido */
#tableControlesReproduccion {
    max-width: 100%; /* Establece el ancho máximo en función del contenedor */
    margin: 0 auto; /* Centra la tabla horizontalmente */
  }
  
  /* Ajusta la alineación y el espaciado de las celdas de la tabla */
  #tableControlesReproduccion td {
    white-space: nowrap; /* Evita el desbordamiento del contenido */
    padding: 5px, 5px; /* Espaciado interno de las celdas */
    text-align: center; /* Alinea el contenido al centro */
    /*border: 1px solid #ddd; /* Agrega bordes para separar las celdas */
  }

/* Popup */
.popup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* Estilo para los eventos */
.lista-eventos {
    max-width: 95%;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 2px;
    background-color: #f9f9f9;
    font-size: 8px;
}

.lista-eventos.dark-theme {
    background-color: #00000071;
    color: #d4ff00;
}

/* Línea horizontal */
hr {
    border: none;
    border-top: 1px solid gray;
    width: 80%;
}

/* Resaltado */
.highlight {
    background: radial-gradient(circle, rgba(0, 128, 0, 0.468), rgba(7, 186, 25, 0.394));
    transition: background-color 4s;
}

/* Detalle de actualización en tema oscuro */
.detalleActualizacion {
    position: fixed; /* Fija la posición del elemento */
    bottom: 0; /* Lo coloca en la parte inferior */
    right: 0; /* Lo coloca en la parte derecha */
    background-color: #f2f2f2; /* Color de fondo */
    padding: 5px 10px; /* Espaciado interno */
    border-top: 1px solid #ddd; /* Borde superior */
    border-left: 1px solid #ddd; /* Borde izquierdo */
    font-size: 10px;
    z-index: 9999; /* Asegura que esté en la parte superior */
}

body.dark-theme .detalleActualizacion {
    background-color: #111;
    color: #fff;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
}

/* Otros estilos específicos */
#Controles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#eventos,
#DivTablaClientes,
#DivControlesReproduccion {
    margin: 20px 0;
}

#DivTablaClientes {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Botón con icono de bombilla */
.button-with-icon {
    display: inline-flex;
    align-items: center;
    padding: 5px 5px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
}

.button-with-icon::before {
    font-size: 10px;
    margin-right: 10px;
}

#tema {
    position: absolute;
    top: 1px;
    right: 1px;
    z-index: 999;
}

.input-personalizado {
    border: 2px solid rgba(29, 14, 146, 0.557); /* Color de borde verde */
    border-radius: 10px; /* Bordes redondeados */
    padding: 2px; /* Espacio interno para el texto */
    width: 200px; /* Ancho del input */
    font-size: 12px; /* Tamaño de fuente */
    width: 45%;
}

/* Estilo adicional cuando el input está enfocado (opcional) */
.input-personalizado:focus {
    outline: none; /* Elimina el borde de enfoque predeterminado */
    box-shadow: 0 0 5px #00cc00; /* Sombra al enfocar */
    place-content: "";
}

/* Estilos para el input personalizado en tema oscuro */
.input-personalizado.dark-theme {
    border-color: rgba(29, 14, 146, 0.557); /* Cambia el color de borde en modo oscuro */
    background-color: #222; /* Cambia el fondo en modo oscuro */
    color: #fff; /* Cambia el color del texto en modo oscuro */
}

/* Estilo adicional cuando el input está enfocado en tema oscuro */
.input-personalizado.dark-theme:focus {
    box-shadow: 0 0 5px #00cc00; /* Cambia la sombra al enfocar en modo oscuro */
}

body.dark-theme .input-personalizado {
    border-color: rgba(29, 14, 146, 0.557); /* Cambia el color de borde en modo oscuro */
    background-color: #222; /* Cambia el fondo en modo oscuro */
    color: #fff; /* Cambia el color del texto en modo oscuro */
}

/* Estilo adicional cuando el input está enfocado en tema oscuro */
body.dark-theme .input-personalizado:focus {
    box-shadow: 0 0 5px #00cc00; /* Cambia la sombra al enfocar en modo oscuro */
}


/* Estilos para el tema claro */
/* Botones con fondo transparente y borde azul */
.button-claro {
    background-color: transparent;
    border: 2px solid rgba(29, 14, 146, 0.557); /* Color azul */
    border-radius: 5px; /* Bordes redondeados */
    color: rgba(29, 14, 146, 0.557); /* Color del texto */
    padding: 2px 5px; /* Espaciado interno */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    transition: background-color 0.3s, color 0.3s; /* Transición suave al cambiar colores */
  }
  
  /* Estilos para el tema oscuro */
  /* Botones con fondo transparente y borde verde */
  .button-oscuro {
    background-color: transparent;
    border: 2px solid #28A745; /* Color verde */
    border-radius: 5px; /* Bordes redondeados */
    color: #28A745; /* Color del texto */
    padding: 2px 5px; /* Espaciado interno */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    transition: background-color 0.3s, color 0.3s; /* Transición suave al cambiar colores */
  }
  
  /* Cambiar colores al pasar el mouse */
  .button-claro:hover {
    background-color: #007BFF; /* Fondo azul al pasar el mouse */
    color: #fff; /* Texto blanco al pasar el mouse */
  }
  
  .button-oscuro:hover {
    background-color: #28A745; /* Fondo verde al pasar el mouse */
    color: #fff; /* Texto blanco al pasar el mouse */
  }

  .detalleReproduciendo {
    position: fixed;
    font-size: 12px;
    bottom: 0;
    left: 0;
    width: 50%;
    /* background-color: #7afd00; */
    z-index: 999; /* Asegura que esté por encima del resto del contenido */
  }